_buildscripts
_repo
_sources
_temp
pkg
src
dbg
hdr
*~
build.sh
clean-builddir.sh
clean-workdir.sh
makepkg
pkgrels-decrease.sh
pkgrels-increase.sh
pkgrels-reset.sh
rebuildlist-build.sh
rebuildlist-generate.sh
repoclean-local.sh
repoclean-remote.sh
show-config.sh
show-pkglists.sh
sync-complete.sh
sync-down.sh
sync-up-nodb.sh
sync-up.sh

*-cfg.conf
*-makepkg.conf
*-pkgs.conf
user.conf

